<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="98978d">  <td>18/06/15 15:22:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC00_LoginToApplication()[pri:0, instance:com.cbk.profile.Login@5025a98f]">TC00_LoginToApplication</td> 
  <td>main@2106620844</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>18/06/15 15:22:33</td>   <td>-43</td> <td title="&gt;&gt;BaseTest.cleanUp(org.testng.xml.XmlTest)[pri:0, instance:com.cbk.profile.Login@5025a98f]">&gt;&gt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2106620844</td>   <td></td> </tr>
</table>
