<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:15:57</td>   <td>0</td> <td title="&gt;&gt;BaseTest.cleanUp(org.testng.xml.XmlTest)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&gt;&gt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:15:57</td>   <td>28</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize(java.lang.String, java.lang.String)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@205500976</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:16:18</td>   <td>21549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.extReport(java.lang.reflect.Method, java.lang.String)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&gt;&gt;extReport</td> 
<td>&nbsp;</td>  <td>TestNG@205500976</td>   <td></td> </tr>
<tr bgcolor="b58980">  <td>18/07/05 19:16:18</td>   <td>21582</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.TC00_LoginToApplication(java.lang.String)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">TC00_LoginToApplication</td> 
  <td>TestNG@205500976</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:16:46</td>   <td>49628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.endTest(java.lang.reflect.Method)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>TestNG@205500976</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:16:46</td>   <td>49633</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.endTest(java.lang.String)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@205500976</td>   <td></td> </tr>
<tr bgcolor="fc609f">  <td>18/07/05 19:16:47</td>   <td>50444</td> <td title="&lt;&lt;BaseTest.tearDown(org.testng.xml.XmlTest)[pri:0, instance:com.cbk.profile.Login@536aaa8d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1489069835</td>   <td></td> </tr>
</table>
