<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>reg</td><td>CartGuest.TC00_startShop_Test()[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]<br/></td></tr>
</table>
