<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:44:02</td>   <td>0</td> <td title="&gt;&gt;BaseTest.cleanUp(org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&gt;&gt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:44:02</td>   <td>188</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.initialize(org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1319773202</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:45:02</td>   <td>60660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.extReport(java.lang.reflect.Method, org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&gt;&gt;extReport</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1319773202</td>   <td></td> </tr>
<tr bgcolor="60af79">  <td>18/02/21 16:45:03</td>   <td>60910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CartGuest.TC00_startShop_Test()[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">TC00_startShop_Test</td> 
  <td>TestNG-tests-1@1319773202</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:45:15</td>   <td>73220</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.endTest(java.lang.reflect.Method, org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&lt;&lt;endTest</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@1319773202</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:45:15</td>   <td>73230</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTest.endTest(org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&lt;&lt;endTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1319773202</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>18/02/21 16:45:16</td>   <td>73976</td> <td title="&lt;&lt;BaseTest.tearDown(org.testng.xml.XmlTest)[pri:0, instance:com.drivemedical.cart.CartGuest@2f686d1f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1635756693</td>   <td></td> </tr>
</table>
